<!DOCTYPE html>
<html lang="en">
<head>
<title>Who can plug in their cars?</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
     <script src = "/static/js/jquery-3.2.1.min.js"></script>
     <script src = "/static/js/bootstrap.min.js"></script>
      <style>
        body { background: honeydew !important; }
        .dropdown-menu {
          width: 100%;
        }

        .scrollable-menu {
          height: auto;
          max-height: 100px;
          overflow-x: hidden;
        }
      </style>
</head>




<body>
    <header>
      <div class="container">
        <h1><strong>There are {{ stations | length }} electric vehicle charging stations in California:</strong></h1>

      </div>
    </header>
<iframe width="100%" height="520" frameborder="0" src="https://stanford.carto.com/u/isalian/builder/a43426db-bac5-4f29-bfcf-48ce6d696540/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
<section class="sec">

<div class="container">
  <div class="dropup">
    <button class="btn btn-lg dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Select a zip code <span class="caret"></span></button>
      <ul class="dropdown-menu scrollable-menu" role="menu" aria-labelledby="dropdownMenuButton">
        {% for z in zipcodes %}
          <li><a class="dropdown-item" href="/zip/{{z}}">{{z}}</a></li>
        {% endfor %}
      </ul>
  </div>
</div>



</section>
</body>
<footer>
  <div class="container">
    <h3>About</h3>
    <p>Created by Isha Salian for <a href="http://journalism.stanford.edu" target="_blank">Stanford Journalism</a> class <a href="http://2017.compjour.org/" target="_blank">COMM 277A: Computational Journalism</a>, taught by <a href="https://comm.stanford.edu/faculty-nguyen/">Dan Nguyen.</a></p>
  </div>
</footer>
</html>
