<!DOCTYPE html>
<html lang="en">
<head>
<title>Who can plug in their cars?</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
     <script src = "/static/js/jquery-3.2.1.min.js"></script>
     <script src = "/static/js/bootstrap.min.js"></script>
</head>

<body>
    <header>
      <div class="container">
      <h1>Station {{ station.id }}</h1>
  </div>
  <div class="container">
  {{ station.address }}
  <img src="https://maps.googleapis.com/maps/api/streetview?location={{ station.address }}&size=500x500" alt="">
  </div>
</body>
<footer>
  <div class="container">
    <h3><a href="/about/">About</a></h3>
    <p>Created by Isha Salian for <a href="http://journalism.stanford.edu" target="_blank">Stanford Journalism</a> class <a href="http://2017.compjour.org/" target="_blank">COMM 277A: Computational Journalism</a>, taught by <a href="https://comm.stanford.edu/faculty-nguyen/">Dan Nguyen.</a></p>
  </div>
</footer>
</html>
