<!DOCTYPE html>
<html lang="en">
<head>
<title>Who can plug in their cars?</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
     <script src = "/static/js/jquery-3.2.1.min.js"></script>
     <script src = "/static/js/bootstrap.min.js"></script>
      <style>
        body { background: honeydew !important; }
      </style>
</head>

<body>
    <header>
<div class="container" align="right">
  <button onclick="goBack()">Return to homepage</button>
    <script>
      function goBack() {
       window.history.back();
     }
    </script>
  </div>
      <div class="container">
        <h1><strong>There are {{ stations | length }} electric vehicle charging stations
        for  zip code {{ zipcode }}:</strong></h1>
      </div>
    </header>

  <div class="container">

    <h2>Ownership breakdown</h2>
    <table class="table">
      <tr>
        <td>Public</td>
        <td>{{ ownership_count['Public'] }}</td>
      </tr>
      <tr>
        <td>Private</td>
        <td>{{ ownership_count['Private'] }}</td>
      </tr>
    </table>



    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Owner type</th>
          <th>Median household income for tract</th>

        </tr>
      </thead>
      <tbody>
        {% for station in stations %}
          <tr>
            <td><a href="/station/{{station.id}}"> {{ station.station_name }}</a></td>
            <td>{{ station.address}}</td>
            <td>{{ station.groups_with_access_code }}</td>
            <td>{{ "${:}".format(station.median_household_income | int) }}</td>
          </tr>



        {% endfor %}
      </tbody>
    </table>

  </div>

</body>
<footer>
  <div class="container">
    <h3>About</h3>
    <p>Created by Isha Salian for <a href="http://journalism.stanford.edu" target="_blank">Stanford Journalism</a> class <a href="http://2017.compjour.org/" target="_blank">COMM 277A: Computational Journalism</a>, taught by <a href="https://comm.stanford.edu/faculty-nguyen/">Dan Nguyen.</a></p>
  </div>
</footer>
</html>
